a {
  color: #d89488;
}
nav ul {
  font-size: 1.5em;
}
p {
  max-width: 75vw;
}
#Band_Logo_Nav {
  width: 12.5rem;
  padding-top: 15px;
}
#About_Container p {
  max-width: 60vw;
}
#About_Container,
#Contact_Container,
#Home_Container,
#Music_Container,
#Schedule_Container,
#Subscribe_Container {
  flex-wrap: wrap;
}
#Hamburger {
  display: none;
}
#Marquee {
  animation: move-rtl 15000ms linear infinite;
}
