a {
  color: #d89488;
}

nav ul {
  font-size: 1.5em;
}
p {
  max-width: 75vw;
}
#Band_Logo_Nav {
  width: 12.5rem;
  padding-top: 15px;
}
#About_Container p {
  max-width: 60vw;
}
#About_Container,
#Contact_Container,
#Home_Container,
#Music_Container,
#Schedule_Container,
#Subscribe_Container {
  flex-wrap: wrap;
}
#Hamburger {
  display: none;
}
#Marquee {
  animation: move-rtl 15000ms linear infinite;
}
#Nav_Social {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
#Nav_Social a {
  margin: 0;
  padding: 0.35rem;
}
.nav_social_icons {
  filter: invert(1);
  width: 40px;
  height: 60px;
  object-fit: fill;
}
.nav_social_icons-tiktok {
  filter: invert(1);
  width: 35px;
  height: 35px;
  object-fit: fill;
}
